extends ../shared/template
block content
  .row
    .col-xs-12
      table#index.table.table-condensed.table-hover
        thead
          th Name
          th Photo
          th Price
        tbody
          each product in products
            tr
              td= product.name
              td: img(src=product.photo)
              //td: a.photo.thumbnail(style='background-image:url('#{product.photo}')')
              td= product.price


block scripts

